// $orange-peel: rgba(255, 159, 28, 1);
// $hunyadi-yellow: rgba(255, 191, 105, 1);
// $peach: rgba(255, 223, 180, 1);
// $white: rgba(255, 255, 255, 1);
// $mint-green: rgba(203, 243, 240, 1);
// $light-sea-green: rgba(46, 196, 182, 1);
// $custom-color: rgba(51, 51, 51, 0.5);
// $slate-shadow: rgba(3, 14, 32, 1);
// $aquamarine: rgba(125, 220, 211, 1);
// $turquoise: rgba(86, 208, 197, 1);
// $light-blue: rgba(65, 201, 189, 1);
// $teal: rgba(82, 206, 195, 1);

$rich-black-fogra-39: #031323; // Midnight Navy
$oxford-blue: #003F55; // Deep Azure
$oxford-blue_5: rgba(0,64,87, 0.5); // Deep Azure
$teal-blue: #007077; // Turquoise Teal
$strong-cyan: #00A281; // Vibrant Aqua
$mint-green: #85D178; // Fresh Mint
$laser-lemon: #F9F871; // Luminous Yellow




