#header {
  background-color: rgba(0, 64, 87, 0.5);
  color: #85D178;
  height: 6vw;
  width: 90%;
  border-radius: 3rem;
  position: fixed;
  top: 2vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
}
@media screen and (max-width: 768px) {
  #header {
    height: 11vw;
  }
}
#header .header-container {
  transition: height 1s ease-out;
}
#header .header-container .logo-section {
  height: 80%;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 2.5vw;
  position: absolute;
  left: 0.7rem;
  top: 50%;
  transform: translateY(-50%);
}
#header .header-container .logo-section .logo-wrapper {
  width: 10vw;
  height: 100%;
  overflow: hidden;
  border-radius: 40px;
}
#header .header-container .logo-section .logo-wrapper .logo-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  #header .header-container .logo-section .logo-wrapper {
    width: 14vw;
  }
}
#header .header-container .logo-section .logo-text {
  font-weight: bolder;
}
#header .header-container .disappear-content {
  height: 100%;
}
#header .header-container .disappear-content .menu-section {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 1.5rem;
  padding: 0.8rem;
}
#header .header-container .disappear-content .menu-section .menu-item {
  display: inline-flex;
  gap: 5px;
}
#header .header-container .disappear-content .explore-section {
  height: 80%;
  width: 8.5rem;
  position: absolute;
  right: 0.7rem;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 950px) {
  #header .header-container .disappear-content {
    display: none;
  }
}
#header .header-container .menu-btn {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 4vw;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 950px) {
  #header .header-container .menu-btn {
    display: initial;
  }
}
#header .header-container .disappear-content.mobile {
  transition: all 0.4s ease-in-out;
  background-color: #003F55;
  position: absolute;
  top: 56vw;
  left: 50%;
  transform: translateX(-50%);
  height: 60vh;
  width: 95;
  display: initial;
}
@media screen and (max-width: 768px) {
  #header .header-container .disappear-content.mobile {
    width: 90%;
    top: 11vw;
  }
}
#header .header-container .disappear-content.mobile .menu-section {
  position: absolute;
  top: auto;
  width: 100%;
  background-color: #00A281;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 0.8rem;
}
#header .header-container .disappear-content.mobile .menu-section .menu-item {
  display: flex;
  gap: 5px;
  color: #031323;
}
#header .header-container .disappear-content.mobile .explore-section {
  position: absolute;
  bottom: 0;
  background-color: #85D178;
  height: 4rem;
}/*# sourceMappingURL=header.css.map */